@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 7px #1425ac;
    padding: 10px;
}

@media and (orientation portrait) {

    body {
        background: url(../img/imagens/cev-portrait.jpg);
        background-position: center bottom;
    }

}

@media and (orientation landscape) {
    body {
        background: url(../img/imagens/cev-landscape.jpg);
        background-position: left bottom;
        background-repeat: no-repeat;
    }
}