@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html { 
    background-color: beige;
}

header {
    background-color: teal;
}

header > h1 {
    color: white;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.589);
    padding: 10px;
    text-align: center;
}

i#menu-icon{ 
    color: white;
    background-color: tomato;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#menu-icon:hover {
    background-color: white;
    color: tomato;
}

#item {
    display: none;
}

#item > ul {
    list-style: none;
}

#item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(253, 117, 93);
    color: white;
    border-top: 2px solid rgb(255, 141, 121);
}

#item a:hover {
    background-color: rgb(255, 255, 255);
    color: tomato;
    font-weight: bold;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

article > h2 {
    color: tomato;
    padding: 10px;
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 10px;
}